<?xml version="1.0" encoding="UTF-8"?>

<configuration scan="true">

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>%date %-5level [%thread] %logger - %n%n%message%n%n</Pattern>
		</layout>
	</appender>

	<logger name="org.vizendtown" level="DEBUG" />
	
	<root level="ERROR" >
		<appender-ref ref="CONSOLE" />
	</root>

</configuration>